body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #050d1a;
    color: white;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    text-decoration: none;
}

.profile-container {
    display: flex;
    justify-content: center;

    gap: 40px;
    padding-top: 80px;
}

/* CARDS */
.card {
    background: #1c2740;
    border-radius: 20px;
    padding: 50px;
    width: 270px;
    box-shadow: 12px 12px 0 rgba(0,0,0,0.45);

}

/* SETTINGS */
.settings-card h2 {
    margin-bottom: 20px;
}

.setting-row,
.checkbox-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.edit-icon {
    width: 14px;
    margin-left: 6px;
    cursor: pointer;
}

/* PROFILE CENTER */
.profile-card {
    width: 320px;
    text-align: center;
}

.avatar {
    width: 90px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.stat-row {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.progress-bar {
    width: 100%;
    height: 14px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 15px;
}

.progress-fill {
    width: 45%;
    height: 100%;
    background: #3cff00;
}

/* LINKS */
.link-row {
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
    cursor: pointer;
}

.arrow {
    color: #4aa3ff;
}

/* DELETE */
.delete-btn {
    margin-top: 20px;
    background: #d40000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* NAV */
.nav-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.nav-btn {
    background: #3b5bfd;
    color: white;
    text-decoration: none;
    padding: 14px;
    text-align: center;
    border-radius: 10px;
}
