body {
    background: #07152C;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    font-family: 'Inter', sans-serif;

}

/* Back Button */
.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ffffffcc;
    font-size: 18px;
    text-decoration: none;
}

/* Center Container */
.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Login Card */
.login-card {
    justify-content: center;
    background-color: #1d2538;
    padding: 50px;
    border-radius: 20px;
    width: 300px;

    box-shadow: 12px 12px 0px rgba(0, 0, 0, 0.4);
}

/* Form */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Input wrapper with icon */
.input-wrapper {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    opacity: 0.8;
}

.input-wrapper input {
    width: 85%;
    padding: 12px 14px 12px 42px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

/* Login Button */
.login-btn {
    background-color: #3b5bfd;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
}

.login-btn:hover {
    background-color: #5f78ff;
}

/* Bottom text */
.register-text {
    color: #ccc;
    font-size: 14px;
    text-align: center;
}

.register-text a {
    color: #ffffff;
    font-weight: bold;
}
