body {
    background-color: #0E1A2B;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}
.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    text-decoration: none;
}

.back-btn:hover {
    cursor: pointer;
}

.lab-container {
    display: flex;
    flex: 1;
    gap: 15px;
    padding: 20px;
}

/*The virtual lab itself*/
#lab-area {

    flex: 2.5;
    position: relative;
    /*making the board a transparent */
    background: rgba(6, 13, 30, 0.87);
    border-radius: 15px;

    justify-content: center;
    align-items: center;
    color: white;


}

#lab-area img {
    pointer-events: auto;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

/*SVG segment where the wires are created */
#wire-layer {
    position: absolute;
    pointer-events: none;/* DO NOT block dragging */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*The interface area of the control*/
.interface {
    flex: 0.5;
    position: relative;
    background: rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
    color: white;

}

/*the states of the environment and sensors*/
#state-of {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #f4f5f4;
    min-height: 175px;
    max-height: 175px;
    width: 415px;
    border-radius: 23px 0 0 23px;
    align-self: center;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);

}

#state-of h2 {
    font-family: 'Consolas', cursive;
    align-self: center;
    font-size: 24px;
    margin-bottom: 10px;

}

/*scrollbar CSS*/
/*scrollbar itself*/
#state-of::-webkit-scrollbar {
    width: 4px;
}
/*scrollbar thumb*/
#state-of::-webkit-scrollbar-thumb{
    background: #3b82f6;
}
/*scrollbar track for thumb*/
#state-of::-webkit-scrollbar-track{
    background: rgba(255,255,255,0.1);
}

.interface label {
    font-weight: bold;
}

.interface input, .interface select {
    padding: 7px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.65);
    color: black;
}



.interface button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #0072ff;
    color: white;
    font-family: monospace;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    margin-top: 70px;
}

.interface button:hover {
    background: linear-gradient(135deg, #3000a6, #000ecc);
}

#output {
    font-family: monospace;
    font-size: 22px;
    padding-bottom: 10px;
    color: white;
}

#interface-buttons {
    display: flex;
    gap: 90px;
    justify-content: center;
}

.icon-btn {
    padding: 1px 70px;
    border-radius: 25px;          /* pill shape */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    /* default (inactive) look */
    background: transparent;
    border: 1px solid rgba(255,255,255,0.2);
}

.icon-btn.active {
    background: #3B82F6;          /* blue active background */
    border: none;                 /* no border when active */
}

.icon-btn h1 {
    font-size: 25px;
    padding: 0;
    margin: 0;

}
/*custom menu for the right-click on the sensor picture*/
#custom-menu {
    position: fixed;
    display: none;
    background: #f5f5f6;
    border: 1px solid rgba(255,255,255,0.15);
    padding: 10px;
    border-radius: 10px;
    z-index: 9999;
    width: 180px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.35);
}
.menu-item {
    padding: 8px 12px;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border-radius: 6px;
}
.menu-item:hover {
    background: rgb(72, 141, 237);
}

/*coding segment*/

.code-segment {
    display: none;             /* hidden initially */
    margin-top: 20px;

    border-radius: 12px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);
    align-self: center;
    align-items: center;
    min-height: 360px;         /* space for code content */
    color: white;
    font-family: Consolas, monospace;
    overflow-y: auto;
}

textarea {
    resize: none;
    margin: 10px;

}






@keyframes gradientShine {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


#tutorial-overlay {
    position: fixed;
    top: 25%;
    left: 25%;
    width:30%;
    height:20%;
    background: #000ecc;
    padding: 10px;
    color: white;
    display: none;
    align-items:center;
    justify-content:center;
    border-radius: 15px;

}