

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top, #0b1c33, #050d1a);
    color: #0a0a0a;

}

/* TOP BAR */
.top-bar {
    background: #00baff;
    padding: 14px 24px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 0 0 16px 16px;
}

.back-btn {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.progress-bar {
    flex: 1;
    background: white;
    height: 18px;
    border-radius: 999px;
    overflow: hidden;
}

.progress-fill {
    width: 12%;
    height: 100%;
    background: #39ff14;
}

/* MAIN LAYOUT */
.content {
    display: flex;
    gap: 40px;
    padding: 40px;
}

/* LEFT PANEL */
.left-panel {
    width: 280px;
    background: #00baff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-color: blue #00baff;
}



.test-btn {
    background: #0077ff;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 999px;
    font-size: 15px;
    cursor: pointer;
}


.image-card {
    background: white;
    border-radius: 14px;
    padding: 10px;

}

.image-card img {
    width: 100%;
    border-radius: 10px;

}

/* RIGHT TEXT CARD */
.text-card {
    flex: 1;
    background: white;
    border-radius: 24px;
    padding: 40px;
    line-height: 1.6;
    max-height: 490px;
    overflow-y: auto;
    scrollbar-color: blue white;
}

.text-card h1 {
    margin-top: 0;
    font-size: 32px;
}
